@model IEnumerable<Learning.Tutor.ViewModel.TestViewModel>


<table class="display responsive nowrap" style="width:100%" id="examtable">
    <thead>
        <tr>
            <th>
               TestId
            </th>
            <th>
                Title
            </th>
            <th>
                Grade
            </th>
            <th>
                Subject
            </th>
            <th>
                Dur.
            </th>
            <th>
                
                EndDate
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
          
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
               <a href="/tutor/ViewQuestionsById?TestId=@item.Id">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.Label(item.EndDate.Date.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.Label(item.Created.ToShortDateString())
            </td>
          
           
            <td>
                <a href="CreateTest?id=@item.Id">
                    <i class="fa fa-pencil-square text-info"> </i></a> |
                    <a href="DeleteTest?id=@item.Id"><i class="fa fa-times-circle text-danger"></i></a>
</td>
        </tr>
}
    </tbody>
</table>
