@using Learning.Entities.Enums
@model IEnumerable<Learning.ViewModel.Account.AccountUserModel>

@{
    ViewData["Title"] = "Roles";
    var roles = Enum.GetValues(typeof(Roles)).Cast<Roles>().ToList();
    var permissions = typeof(Learning.ViewModel.Account.AuthorizationModel).GetProperties();
}
<main class="page-content">
    <div class="container-fluid tutor-orange-bg">
        <h1>Manage Tutor</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 white-bg">
<div class="accordion" id="tblUser">
       <table class="table-responsive" width="100%">
           <thead>
               <tr>
                   <th>S.No</th>
                   <th>UserId</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>UserName</th>
                   <th>District</th>
                   <th>Plan</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model)
               {
               <tr>
                   <td></td>
                 <td>@item.UserID</td>  
                   <td>@item.FirstName</td>
                   <td>@item.LastName</td>
                   <td>@item.Email</td>
                   <td>@item.PhoneNumber</td>
                   <td>@item.UserName</td>
                   <td>@item.District</td>
                   <td>@item.HasUserAccess</td>
                   <td><i class="fa fa-eye text-info"></i></td>
                   <td><button class="btn-small"><i class="fa fa-times text-danger"></i></button></td>
               </tr>
               }
           </tbody>
       </table>
</div>
</div>
</div>
</main>
@section Scripts{ 
<script>
    $('#tblUser').DataTable();
    function deleteUser(){
        $('#modalConfirm').modal('show');
        $('#modalConfirm #btnDelete').on('click', del => {
            initLoader();
            insertdata('/Admin/Roles/DeleteUser', { id: id }).done(res => {
                removeLoader();
                if (res) {
                    notify('User has been deleted successfully !!!', 'success');
                    if (dt != null) {
                        if ($(dt).length > 0)
                            $(dt).DataTable().ajax.reload();
                    }
                } else {
                    notify('No user deleted.', 'warning');
                }
            })
        });
    }
</script>
}

