@model IEnumerable<Learning.Tutor.ViewModel.TestViewModel>


<table class="display table table-responsive nowrap" style="width:100%" id="examtable">
    <thead>
        <tr>
            <th>
                TestId
            </th>
            <th>
                Title
            </th>
            <th>
                Grade
            </th>
            <th>
                Subject
            </th>
            <th>
                Dur.
            </th>
            <th>

                EndDate
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
            <th>
                <i class="fa fa-check"></i>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a title="@item.Title" href="/Question/ViewQuestionsById?TestId=@item.Id">@(item.Title.Length>15?item.Title.Substring(0,14)+"...":item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeName)
                </td>
                <td>
                    <label title="@item.SubjectName">@(item.SubjectName.Length>15 ? item.SubjectName.Substring(0,14)+"...":item.SubjectName)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.Label(item.EndDate.Date.ToShortDateString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.Label(item.Created.ToShortDateString())
                </td>
                <td>
                    <input type="checkbox" id="@item.Id" asp-for="@item.IsPublished" onclick="setexamactive(this)" />
                </td>

                <td>
                    <a href="/tutor/CreateTest?id=@item.Id" class=" btn btn-link">
                        <i class="fa fa-pencil text-info"> </i>
                    </a> |
                    <button type="button" class="btn btn-link delTest" onclick="deleteTest('@item.Id','#examtable')"> <i class="fa fa-times-circle text-danger"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

</script>
